@using QgisToWeb.Controllers;

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Layout/Page.cshtml";
}


<div class="row ml-4 mt-4">
    <h3>Home</h3>
</div>
<div class="row p-3">
    <div class="col-12">
        <div class="card shadow"    >
            <div class="card-header">
                <h6>Pengantar dari Kecamatan</h6>
            </div>
            <div class="card-body">
               <p>Kecamatan Mergangsan adalah satu dari 14 kecamatan di Wilayah Kota Yogyakarta.  Kecamatan yang merupakan penyangga dari pusat Kota Yogyakarta ini memiliki daya tarik tersendiri  untuk dikunjungi. Ketika kita berbicara tentang Malioboro, Kraton, Alun-alun, kuliner, hotel, perkampungan khas jogja, pasar tradisional, kerajinan rakyat, heritage, kampung wisata maka wilayah Kecamatan Mergangsan adalah salah satu pilihan yang cocok.<br/><br/>
Jarak Kecamatan Mergangsan dari Malioboro dan Kraton Yogyakarta yang kurang dari dua kilometer, menjadi alternatif sekaligus mempunyai kenyamanan huni khas perkampungan Yogyakarta. Oleh karena letaknya yang tidak jauh dari pusat kota (Kraton dan Malioboro) dengan potensi yang menarik itu maka Kecamatan Mergangsan menjadi salah satu destinasi wisata yang patut diperhitungkan. .<br/><br/>
Pusat pemerintahan Kecamatan Mergangsan berada di Jalan Sisingamangaraja Nomor 55 Yogyakarta. Kecamatan ini terbagi menjadi tiga kelurahan, yaitu: .<br/>
1.	Kelurahan Brontokusuman, terdiri dari Kampung Brontokusuman, Luwanu, Karangkajen, Karanganyar, Timuran dan Prawirotman. <br/>
2.	Kelurahan Keparakan, terdiri dari Kampung Keparakan Lor, Keparakan Kidul, Pujokusuman dan Dipowinatan<br/>
3.	Kelurahan Wirogunan, terdiri dari Kampung Wirogunan, Bintaran, Surokarsan, Jayanegaran, Nyutran, Mergangsan Lor dan Mergangsan Kidul.<br/>.<br/>
Luas wilayah Kecamatan Mergangsan 2,317 km², memiliki 60 RW dan 218 RT, dengan batas wilayah sebagai berikut: .<br/>
•	Sebelah utara Kecamatan Pakualaman<br/>
•	Sebelah Timur Kecamatan Umbulharjo<br/>
•	Sebelah Selatan Kecamatan Sewon Kabupaten Bantul<br/>
•	Sebelah Barat Kecamatan Mantrijeron dan Gondomanan<br/>

               </p>
            </div>
        </div>
    </div>
</div>